.img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.imgDiv {
  width: 200px;
  min-height: 200px;
  max-height: 210px;
  border-radius: 6px;
  height: 100%;
  background-color: rgb(28, 28, 28);
  overflow: hidden;
}

.cityDiv {
  position: absolute;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  z-index: 0;
  bottom: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.notFoundImage {
  max-width: 350px;
}

.subheading {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.subheading > p {
  font-size: small;
}

.cityDiv > p {
  margin: 0;
  padding: 0.2rem;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.listDiv:hover {
  transition: all;
  transition-duration: 400ms;
  box-shadow: 0 0 12px rgb(224, 224, 224);
}

.disabled {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
  background-color: rgba(188, 186, 186, 0.678);
}

.underSubHeader {
  padding: 0.5rem;
}

.underSubHeader > p {
  padding: 0 0.1rem;
  font-size: medium;
  margin: 0;
}

.underSubHeader > p > span {
  font-size: large;
}

.registeredLabel {
  align-self: center;
  margin: 0 5px;
}

.live {
  top: 0.8rem;
  right: 0.8rem;
  background-color: var(--danger-color);
}

.heading {
  font-weight: 200;
}

.is_live {
  background-color: rgb(32, 255, 7);
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(65, 204, 44, 0.7);
  }
  50% {
    -webkit-box-shadow: 0 0 0 10px rgba(1, 6, 2, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(1, 6, 2, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(92, 204, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(65, 204, 44, 0.7);
    box-shadow: 0 0 0 0 rgba(65, 204, 44, 0.7);
  }
  50% {
    -moz-box-shadow: 0 0 0 10px rgba(44, 204, 84, 0.4);
    box-shadow: 0 0 0 10px rgba(44, 204, 84, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(44, 204, 84, 0);
    box-shadow: 0 0 0 10px rgba(44, 204, 84, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(92, 204, 44, 0);
    box-shadow: 0 0 0 0 rgba(92, 204, 44, 0);
  }
}

.codeDiv {
  font-weight: 700;
  color: rgb(75, 75, 75);
}

.codeDiv > div > p {
  border-radius: 50px;
  background-color: silver;
  padding: 0.5rem;
  font-size: 12px;
  margin: 0;
}

.locationDiv {
  padding: 0.2rem;
  padding-right: 10px;
  padding-left: 7px;
  font-size: small;
  color: white;
  background-color: var(--primary-color);
  border-radius: 50px;
}

.headingDiv {
  display: flex;
  flex-direction: row;
  margin: 0 5px;
}

@media only screen and (max-width: 800px) {
  .headingDiv {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .img {
    height: 100%;
  }

  .imgDiv {
    max-width: 150px;
    height: 100%;
    background-color: rgb(28, 28, 28);
    overflow: hidden;
  }

  .underSubHeader > p {
    font-size: small;
  }

  .headingDiv > h2 {
    margin: 0;
    align-self: center;
  }

  .registeredLabel {
    align-self: center;
    margin: 0 5px;
  }

  .subheading {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-right: 5px;
    padding: 0;
    font-size: small;
  }

  .subheading > p {
    font-size: smaller;
  }

  .cityDiv > p {
    font-size: x-small;
  }

  .codeDiv {
    padding: 0.1rem;
    font-size: x-small;
    border-radius: 50px;
    margin: 0;
  }
}
