.link {
  align-self: center;
  padding: 0.5rem;
  text-align: center;
  font-weight: 500;
}

.input {
}

.div {
  display: flex;
  flex-direction: row;
}

.div > div > button {
  align-self: center;
  border: 0px;
  padding: 4px 5px;
  background-color: white;
}

.div > div > button:hover {
  border-radius: 50px;
  background-color: whitesmoke;
  cursor: pointer;
}

nav > .link:hover {
  transition: ease-in-out;
  transition-duration: 300ms;
  background-color: var(--primary-color);
  border-radius: 4px;
  color: white;
}
