.link {
  align-self: center;
  text-align: center;
  font-weight: 500;
  color: black;
}

.input {
  width: 100%;
  margin: 0 10px;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 8px;
  padding: 12px;
}

.navButton {
  font-size: 20px;
  padding: 0.2rem;
}

.navIcon {
  font-size: 22px;
}

.div {
  display: flex;
  flex-direction: row;
}

.div > div > button {
  align-self: center;
  border: 0px;
  padding: 4px 5px;
  background-color: white;
}

.div > div > button:hover {
  border-radius: 50px;
  background-color: whitesmoke;
  cursor: pointer;
}

nav > .link:hover {
  transition: ease-in-out;
  transition-duration: 200ms;
  color: var(--primary-color);
  border-radius: 4px;
}

@media only screen and (max-width: 800px) {
  .title {
    display: none;
  }
}
