.link {
  align-self: center;
  text-align: center;
  font-weight: 500;
  color: black;
  border: 0;
  border-radius: 100%;
  background-color: white;
  cursor: pointer;
}

.logoButton {
  border: 0;
  background-color: white;
  cursor: pointer;
}

.input {
  width: 100%;
  margin: 0 10px;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 8px;
  padding: 12px;
  font-family: "Montserrat";
  font-weight: 600;
  letter-spacing: 1.2px;
}

.input:placeholder-shown {
  font-weight: 700;
  letter-spacing: 1.1px;
  font-family: "Montserrat";
  border: 0;
  box-shadow: 0 0 12px rgb(224, 224, 224);
}

.navButton {
  font-size: 20px;
  border-radius: 100%;
  padding: 0.5rem;
  cursor: pointer;
}

.navButton:hover {
  transition: ease-in-out;
  transition-duration: 300ms;
  color: var(--primary-color);
}

.navIcon {
  font-size: 22px;
  padding: 0.5rem;
}

.div {
  display: flex;
  flex-direction: row;
}

.div > div > button {
  align-self: center;
  border: 0px;
  padding: 4px 5px;
  background-color: white;
}

nav > .link:hover {
  transition: ease-in-out;
  transition-duration: 200ms;
  color: var(--primary-color);
  border-radius: 4px;
}

@media only screen and (max-width: 800px) {
  .title {
    display: none;
  }

  .input:placeholder-shown {
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "Montserrat";
    box-shadow: 0 0 8px rgb(224, 224, 224);
  }
}
